*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
site

firebase.json
.firebaserc
google-services.json
*.rules*
*.log

# documentation files
/site

# apk files
app/release/*
*.apk
*.jks
*.keystore

